@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#NavBar{
    position: relative;
    display: flex;
    flex-direction: row;
}
#title{
    font-size: 50px;
    margin-left: 20px;
    margin-top: 10px;
    font-family: 'Bebas Neue', sans-serif;
    transition: 1s ease-in-out;
}
#date{
    color: green;
    font-size:25px;
}
#purchasebtn{
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 10px 10px gray;
    border: 1px solid black;
    height: 50px;
    background-color: white;
    margin-left: 10px;
    width:150px;
    font-size: 20px;
}
#purchasebtn:active{
    transform: translateY(2px);
    box-shadow: 5px 5px gray;
}
#title:hover{
    color: crimson;
}
#buttons{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 10px;
}
#buttons h2{
    font-family: 'Bebas Neue', sans-serif;
    margin-right: 20px;
}
#buttons button{
    width: 120px;
    box-shadow: 10px 10px gray;
    border-radius: 10px;
    background-color: crimson;
    color: white;
    border: 1px solid black;
    margin-top: 10px;
    height: 50px;
    font-size: 20px;
}
#buttons button:active{
    transform: translateY(2px);
    box-shadow: 5px 5px gray;
}
#Feed{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20px;
}
#Feed2{
    display: flex;
}
#Feed2 {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 35%;
   
}
#Feed2 img{
    width: 500px;
}
#Feed2 button {
    background-color: crimson;
    color: white;
    border: 0px;
    border-radius: 10px;
    box-shadow: 10px 10px gray;
    width: 200px;
    height: 50px;
    margin-left: 120px;
    font-size: 20px;
}
#Feed2 button:active{
    background-color: white;
    border: 1px solid black;
    color: crimson;
    box-shadow: 5px 5px gray;
    transform: translateY(3px);
}

#QuantityTag{
    margin-bottom: 20px;
    width: 200px;
}
#QuantityTag label{
    font-size: 20px;
}
#QuantityTag input{
    width: 40px;
    font-size: 20px;
    height:30px;
}
#Time{
    font-size: 10px
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
#MainDiv{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-bottom: 40px;
    margin-right: 30px;
    border: 1px solid black;
}
#Img{
    height: 200px;
}
#SecondContainer p{
    font-size: 25px;
}
#SecondContainer{
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    padding: 10px;
}
#SecondContainer button{
    font-size: large;
    z-index: 0;
    box-shadow: 5px 5px black;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-right: 20px;
    border: 1px solid black;
    background-color: transparent;
    margin-bottom: 30px;
}

#Savebtn:active{
    z-index: 3;
    background-color: greenyellow;
    transform: translateY(10%);
    box-shadow: 5px 5px grey;
}
#DelBtn:active{
    z-index: 3;
    background-color: crimson;
    color: white;
    transform: translateY(10%);
    box-shadow: 5px 5px grey;
}
@media screen and (max-width:810px) {
    #MainDiv{
        width: 500px;
    }
    #Img{
        height: 300px;
    }
}
@media screen and (max-width:700px) {
    #MainDiv{
        width: 100%;
        border-radius: 0px;
        margin-right: 0%;
    }
    #title{
        font-size: 60px;
    }
    #Feed{
        margin-top: 150px;
        padding-left: 0%;
    }
    #buttons{
        left: 40px;
        right: 0px;
        top: 190px;
    }
    #buttons h2{
        font-size: 40px;
    }
    #buttons button{
        margin-top: 30px;
    }
    
}
@media  screen and (max-width:500px) {
   #Feed2{
    width: 100%;
    top: 35%;
    left: 0px;
   }
   #Img{
    height: 100%;
    width: 100%;
   }
}