@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


#MainContainer{
   
    display: flex ;
    flex-direction: row;
    width: 100%;
    height: 100%;
} 

#SecondContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#InputContainer{
    width: 100%;
    position: absolute;
    left: 20%;
    top:100px;
    display: flex;
    flex-direction: column;
}
#InputContainer h1{
    
    font-size: 90px;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 50px ;
}
#InputContainer input{
    outline: none;
    width: 300px ;
    font-size: larger;
    font-weight: 500;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    border-bottom: 2px solid black;
    height: 30px;
    padding: 10px;
    margin-bottom: 30px;
}
#Loginbtn{

    width: 130px ;
    border: 1px solid black;
    border-radius: 10px;
    font-size: larger;
    box-shadow: 10px 10px  black;
    background-color: white;
    height: 50px;
}
#Loginbtn:active{
    box-shadow: 5px 5px black;
    transform: translateY(5px);
}
#Showdiv{
    display: flex;

    flex-direction: row;
}
#Showdiv input {
    width: 80px;
    
}
#ShowPass{
    border: 0px;
    padding-left: 0%;
    background-color: white;
    font-size: 20px;
    width: 200px;
    margin-bottom: 20px;
}
#Showdiv label{
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 2px;
    font-size: 30px;
}
#CrtAct{
    border-radius: 20px;
    box-shadow: 10px 10px black;
    border: 1px solid black;
    height: 50px;
    width: 150px;
    background-color: white;
    position: absolute;
    top: 10%;
    right: 4%;
    font-size: larger
}
#CrtAct:active{
    transform: translateY(3px);
    box-shadow: 5px 5px gray;
}
@media  screen and (max-width:980px) {
    #InputContainer input{
        margin-left: 5%;
    }
    #InputContainer h1{
        margin-left: 5%;
    }
    #Loginbtn{
        margin-left: 5%;
    }
}
@media screen and (max-width:550px) {
    #InputContainer {
        top:0%;
        left: 1%;
        
        height: 100%;
    }
    #CrtAct{
        top: 2%;
        right: 5%;
    }
    #InputContainer h1{
        font-size: 60px;
        margin-top: 40%;
    }
    #ShowPass{
        margin-left: 10px;
    }
}