@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
#MainDiv{
    display: flex;
    flex-direction: column;
}
#MenuDiv{
    background-color: white;
    top: 0;
    height: 100px;
    display: flex;
    position: sticky;
    flex-direction: row;
}
#MenuDiv h1 {
    font-size: 50px;
    margin-top: -3px;
    margin-left: 10px;
    font-family: 'Bebas Neue', sans-serif;
}

#Options{
    position: absolute;
    top: 10px;
    right: 20px;
    display: none;
}
#Buttons{
    position: absolute;
    top: 10px;
    right: 20px;
}
#Buttons button{
    background-color: white;
    border: 0px;
    margin-right: 30px;
    font-size: 25px;
}
#DetailsDiv{
    padding-left: 5%;
    display: flex;
    width: 500px;
    flex-direction: column;
}
#ProfBtn{
    color: crimson;
}
#DetailsDiv h1{
    font-family: 'Bebas Neue', sans-serif;
}
#DetailsDiv label {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}
#DetailsDiv input {
    outline: none;
    padding: 10px;
    width: 300px;
    height: 30px;
    font-size: 20px;
}
#SaveOrDel{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
#SaveOrDel button{
   
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 7px 7px gray;
    height: 50px;
    font-size: 22px;
}
#SaveBtn{
    width: 100px;
    color: white;
    background-color: rgb(153, 212, 64);
   
}
#DelBtn{
    width: 200px;
    background-color: crimson;
    color: white;
}
@media screen and (max-width:890px) {
    #Options{
        display: block;
        font-size: 30px;
        border: 0px;
        background-color: white;
    }
    #Buttons{
        right: 0;
        padding-top:20px ;
        background-color: white;
        width: 100%;
        top: 100px;
        border: 1px solid black;
        height: 500px;
        display: none;
        flex-direction: column;
    }
    #Buttons button{
        font-size: 50px;
        margin-bottom: 20px;
        margin-right: 0;
    }
    #Buttons button:hover{
        border-bottom: 5px solid black;
    }
}
@media screen and (max-width:500px) {
    #MenuDiv h1{
        font-size: 40px;
    }
    #Options{
        right: 2%;
        font-size: 25px;
    }
    #Footer {
        display: flex;
        flex-wrap: wrap;
    }
    #Footer h1{
        width: 100%;
        margin-right: 0px;
    }
    #FeedDiv{
        padding-left: 0px;
    }
    #DetailsDiv{
        width: 100%;
        padding-left: 0%;
      
    }
    #SaveOrDel button{
        margin-bottom: 20px;
        font-size: 20px;
    }
    #DelBtn{
        width: 200px;
    }
}