@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#MainContainer{
   
    display: flex ;
    flex-direction: row;
    width: 100%;
    height: 100%;
} 

#SecondContainer{
    width: 100%;
    
    display: flex;
    flex-direction: column;
}
#InputContainer{
    width: 100%;
    position: absolute;
    top:50px;
    display: flex;
    flex-direction: column;
}
#InputContainer h1{
    margin-left: 20%;
    font-size: 90px;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 50px ;
}
#InputContainer input{
    outline: none;
    appearance: none;
    border-radius: 0%;
    width: 300px ;
    font-size: larger;
    font-weight: 500;
    border-top:0px;
    border-left:0px;
    border-right:0px;
    border-bottom: 3px solid black;
    height: 30px;
    margin-left: 20%;
    padding: 10px;
    margin-bottom: 30px;
}
#Loginbtn{
    margin-left: 20%;
    width: 130px ;
    border: 1px solid black;
    border-radius: 10px;
    font-size: larger;
    box-shadow: 10px 10px  black;
    background-color: white;
    height: 50px;
    transition: 1s;
}
#Loginbtn:hover{
    background-color: white;
    color: crimson;
    font-size: large;
    box-shadow: 10px 10px gray;
    border: 1px solid black;
}
#ShowPass{
    border: 0px;
    padding-left: 0%;
    background-color: white;
    font-size: large;
    width: 200px;
    margin-left: 20%;
    margin-bottom: 20px;
}
#CrtAct{
    border-radius: 20px;
    box-shadow: 10px 10px black;
    border: 1px solid black;
    height: 50px;
    width: 150px;
    background-color: white;
    position: absolute;
    right: 2%;
    font-size: larger;
    transition: 1s ease-out;
}
#CrtAct:hover{
    font-size: large;
    color: crimson;
    box-shadow: 10px 10px gray;
}
#Labelforpass{
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -20px;
    margin-left: 20%;
}
#Labelformatch{
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -20px;
    margin-left: 20%;
    margin-bottom: 20px;
}
@media  screen and (max-width:980px) {
    #InputContainer input{
        margin-left: 5%;
    }
    #InputContainer h1{
        margin-left: 5%;
    }
    #Loginbtn{
        margin-left: 5%;
    }
}
@media screen and (max-width:550px) {
    #InputContainer {
        top:0%;
        border: 1px solid black;
        height: 100%;
    }
    #CrtAct{
        top: 2%;
        right: 5%;
    }
    #InputContainer h1{
        font-size: 60px;
        margin-top: 40%;
    }
}